/**项目概览样式***/
.overview{
    height : 1.375rem;
}
.overview ul{
    display: flex;
    justify-content: space-between;
}
.overview ul li h4{
    font-size: 0.35rem;
    color : #fff;
    margin:  0 0 0 0.06rem;
}
.overview ul li span{
    color: #4c9bfd;
    font-size: 0.2rem;
    position: relative;
    top : -0.1375rem;
}
