.wrap{
    display: flex;
}
.channel,
.quarter{
    flex : 1;
    height:2.9rem;
}
.channel{
    margin-right:0.25rem;
}
.wrap .channel .data{
    overflow:hidden;
}
.wrap .channel .data .radar{
    width : 100%;
    height : 2.1rem;
}
